.container {
  max-width: 1170px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background-color: #f2f2ed;
  font-family: 'Playball', cursive;
  font-size: 46px;
  color: #461e59;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

li {
  color: #79558a;
}

li:not(:last-child) {
  margin-bottom: 15px;
}